<body>
 <main>
  <div class="container">
   <div class="row">
    <div class="col">
     <div class="bg-light"><h1>会員一覧</h1></div>
     <p id="notice"></p>

      <table class="table table-borderless">
       <thead class="thead-light">
        <tr>
          <th>会員ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
       </thead>
       <% @customers.each do |customer| %>
　　　 <tbody>
        <tr>
          <td><%= customer.id %></td>
          <td><%= link_to customer.full_name, admin_customer_path(customer.id) %></td>
          <td><%= customer.email %></td>
          <td>
           <% if customer.is_deleted %>
            退会
           <% else %>
            有効
           <% end %></td>
        </tr>
       </tbody>
       <% end %>
      </table>

　　</div>
　 </div>
　</div>
 </main>
</body>
