<h1>会員一覧</h1>

<% @customers.each do |customer| %>

<p>会員ID</p>
<%= customer.id %>
<p>氏名</p>
<%= customer.full_name %>
<p>メールアドレス</p>
<%= customer.email %>
<p>ステータス</p>
<%= customer.is_deleted %>
<% end %>








