
<body>
 <main>
  <div class="container">
   <div class="row">
    <div class="col">
     <div class="bg-light"><h1>商品一覧</h1></div>
     <p id="notice"></p>

<% @items.each do |item| %>

<%= link_to item_path(item.id) do %>
<%= image_tag item.get_image, width: '300px', height: '200px' %>
<% end %>
商品名
<%= item.name %>
￥
<%= item.price %>

<% end  %>
　　</div>
　 </div>
　</div>
 </main>
</body>
